<html>
  <head>
    <title>Results Update</title>
    <meta http-equiv="refresh" content="10"></meta>
  </head>
  <body>
  <centre>
    <div style="font-size: 36px; color: #6281A7; margin: 380px; margin-top: 350px;
         width: 300px; text-align: center;">
      <%= @new_results %> results found!
    </div>
  </centre>
</body>
</html>